body {
    background-color: gray;
}

.company-container {
    color: white;
    font-style: italic;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.header {
    color: white;
    text-align: center;
}

.title {
    color: goldenrod;
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show {
    color: white;
    text-align: center;
    font-style: italic;
}

#goBack {
    background-color: black;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.company-card {
    display: inline-block;
}

#main {
    text-align:center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    width: 320px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    color: black;
}