body {
    background-color: gray;
}

.company-container {
    color: white;
    font-style: italic;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.header {
    color: white;
    text-align: center;
}

.title {
    color: goldenrod;
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show {
    color: white;
    text-align: center;
    font-style: italic;
}

#goBack {
    background-color: black;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.company-card {
    display: inline-block;
}

#main {
    text-align:center;
}